<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nazarick.note.mapper.ImageMapper">
    <resultMap id="Image" type="Image">
        <id property="noteId" column="note_id"/>
        <id property="no" column="no"/>
        <result property="data" column="data"/>
    </resultMap>

    <sql id="selectImage">
        select * from image
    </sql>

    <sql id="whereImage">
        <where>
            <if test="noteId != null">
                note_id = #{noteId}
            </if>
            <if test="no != null">
                and no = #{no}
            </if>
        </where>
    </sql>

    <select id="find" parameterType="Image" resultMap="Image">
        <include refid="selectImage"/>
        <include refid="whereImage"/>
    </select>

    <insert id="insert" parameterType="Image">
        insert into image (note_id, no, data)
        values (#{noteId}, #{no}, #{data})
    </insert>

    <delete id="delete" parameterType="Image">
        delete from image
        <include refid="whereImage"/>
    </delete>
</mapper>