<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nazarick.note.mapper.NoteMapper">
    <resultMap id="NoteMap" type="Note">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="findById" parameterType="Integer" resultMap="NoteMap">
        select id, name, content from note where id = #{id}
    </select>

    <select id="findNotesByUserId" parameterType="Integer" resultMap="NoteMap">
        select id, type, name, parent_id
        from note
        where user_id = #{userId}
    </select>

    <insert id="insert" parameterType="Note">
        insert into note (id, user_id, type, name, content)
        values (#{id}, #{userId}, #{type}, #{name}, #{content})
    </insert>

    <update id="update" parameterType="Note">
        update
            note
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != ''">parent_id = #{parentId},</if>
            <if test="content != null">content = #{content},</if>
        </set>
        where
            id = #{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete from note
        where id = #{id}
    </delete>
</mapper>